<<<<<<< Updated upstream
body{
    background-color: rgb(234, 234, 234);
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.logo{
    display: inline-flex;
    font-size: large;
}
.pass_in{
    display: inline-flex;
}
#code{
    margin-left: 50px;
    border: 2px solid ;
    color: rgb(45, 63, 79);
}
#c{
    margin-top: 3px;
    margin-left: 1px;
    border-bottom: 1px solid;
    color: rgb(45, 63, 79);
}
#ademy{
    margin-top: 3px;
    color: rgb(45, 63, 79);
}
#log_in{
    margin-left: 1500px;
    border: 2px solid rgb(121, 180, 161);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(121, 180, 161);
    font-size: 15px;
}
#register{
    background-color:  rgb(121, 180, 161);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    color: white;
    font-size: 15px;
}
.ain{
    text-align: center;
    color: rgb(207, 204, 202);
}
#email{
    padding-right: 100px;
    padding-top: 25px;
}
#epass{
    padding-right: 100px;
    padding-top: 25px;
}
#eusr{
    padding-right: 100px;
    padding-top: 25px;
}
.main {
    height: 90vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.description {
    height: 8vh;
    width: 70%;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.mac_img {
    height: 40vh;
    width: 50vh;
    background-color: gray;
}
.sign_up {
    height: 60vh;
    width: 50vh;
    background-color: indianred;
    margin-left: 1100px;
}
=======
>>>>>>> Stashed changes
