.main {
    height: 90vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.description {
    height: 8vh;
    width: 70%;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.mac_img {
    height: 40vh;
    width: 50vh;
    background-color: gray;
}
.sign_up {
    height: 60vh;
    width: 50vh;
    background-color: indianred;
    margin-left: 1100px;
}